@viewport {
    width: device-width ;
    zoom: 1.0 ;
} 

/* For mobile phones: 
[class*="col-"] {
    width: 100%;
}*/

/* Background Image */
html { 
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'gothambold';
    padding-bottom: 10px;
}

/* Gotham Font Kit */
@font-face {
    font-family: 'gothambold';
    src: url('Files/Gotham Font Kit/gotham-bold_700.woff2') format('woff2'),
         url('Files/Gotham Font Kit/gotham-bold_700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Nav Bar */
.topnav {
    background-color: rgba(41, 41, 41, 0);
    overflow: hidden;
    letter-spacing: -1px;
    font-family: gothambold;
    /* position: fixed; */
    top: 0; 
    width: 100%;
}
  
/* Nav Bar Links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Nav Bar Hover */
.topnav a:hover {
    background-color: #1a428d;
    color: white;
}

/* Current Page */
.topnav a.active {
    background-color: #84C3FF;
    color: white;
}

/* Header Text */
.header-txt {
    display: block;
    font-family: 'gothambold';
    font-size: 30px;
    color: white;
    letter-spacing: -1px;
    text-align: center;
    position: absolute; 
    top: 20px; 
    left: 0; 
    width: 100%; 
}


/* Home Page Options */
.options {
    padding: 10px;   
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    display: flex;
}

.options img {
    display: block;
    width: 250px;
    border: 5px solid #ff0000;
    margin-right: 50px;
    border-radius: 8px;   
}

/* Footer Text */
.footer-txt {
    font-family: 'gothambold';
    font-size: 15px;
    color: white;
    letter-spacing: -1px;
    text-align: center;
}

/* Footer Image 
.footer-img {
    object-fit: contain;
    display: block;
    margin: auto;
    padding-bottom: 0%;
    border-bottom: 0;
} */
